.item{
  display: inline-block;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: rgb(89, 117, 244);
  cursor: pointer;
  margin: 3px;
}

.item.disabled{
  color: #ccc;
  cursor: not-allowed;
}

.current{
  margin-left: 12px;
}

.active{
  border: none;
  color:rgb(4, 4, 246);
  cursor: auto;
}